.menu-lateral .logotipo{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.menu-lateral .logotipo a{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.menu-lateral .logotipo img{
  max-width: 150px;
}
.menu-lateral .logotipo p{
  font-size: 12px;
  color: #222;
  
}

/*dashboard*/
.paineldireito{
  margin-left: 220px;
  padding-right: 15px;
  padding-left: 15px;
}
.painel{
 padding-top: 20px;
}
/*cards informativos*/
.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0,0,0,0.2);
  color: #fff;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
    padding-bottom: 0!important;
}
.info-box-text {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.info-box small {
  font-size: 14px;
}
.info-box-button .btn{
  width: 100%;
  padding: 2px;
  margin-top: 5px;
}

/*table*/
.dataTables_wrapper.dt-bootstrap4{
  background: #fff;
  padding: 25px;
}
#demo,
#demo_wrapper,
#modificar,
#modificar_wrapper,
#editar,
#editar_wrapper{
  margin-top: 20px;
}
.table-bordered td, .table-bordered th{
  font-size: 13px;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{
  font-size: 12px;
  line-height: 1.2;;
}


/*alerta no datatable*/
.vazio{background-color: rgba(216, 106, 106, 0.5)!important;}/*vencimento + AP + Pi estÃ£o vazios*/
.vazio2{background-color: rgba(255, 174, 81, 0.5)!important;}/*2 itens estÃ£o vazios*/
.vazio1{background-color: rgba(249, 255, 103, 0.5)!important;}/*1 item estÃ¡ vazio*/

.quad{
  padding: 0px 7px;
  border: 1px solid #000;
  margin-right: 5px;
}
.legenda{
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}
.legenda h5{
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
}
.legenda li{
  display: inline-block;
  font-size: 10px;
  
}
footer p{
  margin-top: 1rem;
}
.paineldireito img{
  height: 100%;
  max-height: 77px;
  filter: drop-shadow(-4px 3px 3px rgba(0, 0, 0, 0.4));
}
.paineldireito .paragrafo{
  font-size: 25px;
  margin-bottom: 30px;
}
/*div[data-test="datatable-search"]{
  display: none;
}*/
.dataTables_filter label input{
  min-width: 200px;
}
.filtro{
  display: flex;
  align-items: flex-end;
}
.filtro .select{
  display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
}
.filtro .select label{
  margin-bottom: 0;
    font-size: 12px;
}
.filtro .select #filtro{
  width: 150px;
  border: 0;
  padding: 5px 10px;
}
.filtro .input{
  display: flex;
    align-items: center;
    justify-content: center;
}
.filtro .input input{
  border: 0;
    padding: 6px 10px;
}
.filtro .input button{
  border: 0;
    color: #fff;
    background: #007bff;
    padding: 6px 10px;
    margin-left: 5px;
}

.paineldireito .painel .header{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 15px;
}
.paineldireito .painel .header .download{
  margin-bottom: 0;
}
